$def with(artist_and_track, id_7digital, serverName)

<!DOCTYPE HTML>
<html>
    <head> 
        <title>W251 Project: Music Service using the Million Song Dataset</title>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="static/player.js"></script>
        <link type="text/css" rel="stylesheet" href="static/player.css" / >
    </head>
    <body>
        <div id="titlebar">
            W251 Project: Music Service using the Million Song Dataset
        </div>
        <div id="mplayer">
            <div id="messageDisplay"></div>
            <audio controls="controls" autoplay>
                <source src="" type="audio/mpeg" / >
            </audio>
        </div>
        <div id="trackdetails">
            <img src="" height="200" width="200"/ >
            <p id="artistAndTrackname">
            </p>
        </div>
        <div id="displaySimilarSongs">
            Similar Songs:
        </div>
        <p id="hidden_artist_and_track" class="hiddenP">
            $artist_and_track
        </p>
        <p id="hidden_id_7digital" class="hiddenP">
            $id_7digital
        </p>
        <p id="hiddenServerName" class="hiddenP">
            $serverName
        </p>
    </body>
</html>
